body {
    margin: 0em auto;
    max-width: 50em;
}

span[title], abbr[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.click {
    cursor: pointer !important;
}

table {
    border-collapse: collapse;
    line-height: normal;
}

tr {
    border: 0.2em solid #fff;
}

td {
    text-align: right;
    padding: 0em 0.5em;
}

td.text {
    text-align: left;
}

.champions {
    color: inherit;
    background: #26cf26;
}

.champions-league {
    color: inherit;
    background: #5be15b;
}

.champions-league-qualifying {
    color: inherit;
    background: #80ff80;
}

.europa-league {
    color: inherit;
    background: #ffff80;
}

.relegated {
    color: inherit;
    background: #ff8080;
}

.new {
    color: inherit;
    background: #fff;
}

.home-win, .home-draw, .home-loss {
    display: inline-block;
    border-width: 0.5em;
    border-style: solid;
}

.home-win {
    border-top-color: #0b0;
    border-left-color: #0b0;
}

.home-draw {
    border-top-color: #bb0;
    border-left-color: #bb0;
}

.home-loss {
    border-top-color: #b00;
    border-left-color: #b00;
}

.away-win {
    border-bottom-color: #0b0;
    border-right-color: #0b0;
}

.away-draw {
    border-bottom-color: #bb0;
    border-right-color: #bb0;
}
.away-loss {
    border-bottom-color: #b00;
    border-right-color: #b00;
}
